div {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  background-image: url(background1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.header {
  width: 100%;
  padding: 20px 70px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}
.landing {
  position: relative;
}
.header img {
  width: 50px;
}
.header ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.header ul li {
  margin-right: 30px;
}
.header ul li a {
  color: #fff;
}
.header ul li:hover a {
  color: #d6a75c;
}
.header ul li a.active {
  color: #d6a75c;
  position: relative;
  font-weight: 700;
}
.header ul li a.active::before {
  content: "";
  background-color: #d6a75c;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  text-align: center;
}
h1 {
  font-size: 5em;
  color: #fff;
  margin: 15px 0;
}
.landing p {
  color: #ddd;
  font-size: 24px;
  margin-bottom: 30px;
}
.landing button {
  background-color: rgb(16 138 95);;
  color: #fff;
  padding: 15px 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  border-radius: 15px;
}
.landing button:hover {
  background-color: #064064;
}
.landing .logo {
  width: 100px;
  transition: 1s;
}
.landing .move {
  width: 40px;
  opacity: 0;
  transition: 1s;
}
.vaccines {
  background-image: url(background2.png);
  padding: 60px 80px;
  text-align: center;
}
.vaccines h2 {
  position: relative;
  font-size: 3em;
  margin: 0 auto 50px;
  width: fit-content;
  color: #014421;
}

.vaccines .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.vaccines .equipmnet {
    border: 3px solid #d6a75c;
    margin-bottom: 15px;
    width: 550px;
    height: 460px;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: transform .8s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.5);
}

.vaccines .equipmnet:hover {
    transform: rotateY(180deg);
}
.vaccines .front,
.vaccines .back {
    position: absolute;
    width: calc(94% + 4px);
    height: 93%;
    padding: 15px;
    backface-visibility: hidden;
}
.vaccines .front img {
  width: 549px;
  transform: translate(-15px, -15px);
}
.vaccines .front h3 {
    color: rgb(52 102 84);
    font-size: 3.6em;
    margin-bottom: 5px;
    margin-top: -8px;
}
.vaccines .back {
    background-color: #d6a75c;
    color: #fff;
    display: flex;
    align-items: center;
    transform: rotateY(180deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.vaccines .back h3 {
    color: #fff;
    font-size: 2.6em;
    margin-bottom: 10px;
    margin-top: 0;
}
.vaccines .back p {
  color: #ddd;
  line-height: 1.2;
}
.vaccines .back a {
  display: block;
    font-size: 1.2em;
    width: fit-content;
    background-color: rgb(52 102 84);
    color: #fff;
    margin: 33px auto 0;
    border-radius: 28px;
    padding: 10px 20px;
    transition: 0.3s;
}
.vaccines .back a:hover {
  background-color: #014421;
  transition: 0.3s;
}

.vision,
.mision {
  background-color: #014421;
  padding: 40px 80px;
  display: flex;
  gap: 0 40px;
  overflow: hidden;
}
.vision h2,
.mision h2 {
  font-size: 4em;
    color: #fff;
    margin: 0;
}
.vision p,
.mision p {
color: #eee;
    font-size: 1.5em;
    line-height: 1.5;
}
.vision img,
.mision img {
  border: 5px solid #fff;
  border-radius: 7px;
  width: 500px;
}
.mision img {
  transform: translateX(-150px);
  opacity: 0;
  transition: 1.5s;
}
.vision img {
  transform: translateX(150px);
  opacity: 0;
  transition: 1.5s;
}
.vision .both {
  transform: translateX(0px);
  opacity: 1;
  transition: 1.5s;
}
.mision .both {
  transform: translateX(0px);
  opacity: 1;
  transition: 1.5s;
}

.founders {
  background-color: #fff;
  padding: 60px 80px;
  text-align: center;
  overflow: hidden;
}
.founders h2 {
  position: relative;
  font-size: 3em;
  margin: 0 auto 80px;
  border: 2px solid #014421;
  width: fit-content;
  padding: 15px 25px;
}
.founders h2::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #014421;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}
.founders h2::after{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #014421;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}
.founders .cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.founders .cards .card {
  width: 350px;
  border: 3px solid #014421;
  border-radius: 10px;
}
.founders .cards .card:nth-child(1) {
  transform: translateX(-150px);
  opacity: 0;
  transition: 1.5s;
}
.founders .cards .card:nth-child(2) {
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s;
}
.founders .cards .card:nth-child(3) {
  transform: translateX(150px);
  opacity: 0;
  transition: 1.5s;
}
.founders .cards .both:nth-child(1) {
  transform: translateX(0px);
  opacity: 1;
  transition: 1.5s;
}
.founders .cards .both:nth-child(2) {
  transform: translateY(0px);
  opacity: 1;
  transition: 1.5s;
}
.founders .cards .both:nth-child(3) {
  transform: translateX(0);
  opacity: 1;
  transition: 1.5s;
}
.founders .cards .img {
  width: 100%;
  padding: 35px 0 20px;
  background-color: #014421;
}
.founders img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.founders .cards .card h3 {
  padding: 30px 0;
  font-size: 2em;
  color: #014421;
}


.contact {
  padding: 40px 0;
  background-color: #d6a75c;
}
.contact h2 {
  position: relative;
  font-size: 3em;
  margin: 0 auto 80px;
  border: 2px solid #014421;
  width: fit-content;
  padding: 15px 25px;
}
.contact h2::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #014421;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}
.contact h2::after{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #014421;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}
.contact .continer {
  text-align: center;
}
.contact .content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
  text-align: left;
}
.contact .info h4 {
  font-size: 2em;
  color: #014421;
}
.contact h3 {
  font-size: 35px;
  margin-bottom: 15px;
  color: #014421;
  text-align: center;
}
.contact form {
  border: 3px solid #014421;
  padding: 20px 15px;
  width: 400px;
}
.contact form input,
.contact form textarea {
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
  width: 100%;
  margin-bottom: 20px;
}
.contact button {
  background-color: #014421;
  color: #fff;
  padding: 13px 40px;
  border: none;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
  font-size: 15px;
  font-weight: 700;
}
footer {
  padding: 20px 0;
    text-align: center;
    color: #fff;
    background-color: #014421;
}
.social {
  margin-top: 40px;
}
.social img:hover {
  transform: translateY(-7px);
  transition: 0.5s;
}
.social img {
  margin-right: 5px;
  width: 20px;
}
.hidden {
  display: none;
}
@media (max-width: 767px) {
  .landing {
    padding: 0 30px;
  }
  h1 {
    font-size: 3.5em;
  }
  .vaccines {
    padding: 40px 50px;
  }
  .vaccines .cards {
    gap: 40px 0;
  }
    .vaccines .cards .equipmnet {
      width: 300px;
      height: 395px;
    }
    .vaccines h2 {
      font-size: 2.5;
    }
        .vaccines .cards img {
          width: calc(100% + 15px);
        }
  .vaccines .cards .front h3 {
    margin-top: 30px;
  }
  .vision,
  .mision {
    gap: 40px 0;
    padding: 30px 50px;
    text-align: center;
    flex-wrap: wrap;
  }
  .vision img:last-child {
    display: none;
  }
  .vision img,
  .mision img {
    margin: 0 auto;
    width: 330px;
  }
  .vision h2,
  .mision h2 {
    font-size: 2.8em;
  }
  .founders {
    padding: 60px;
  }
  .founders .cards {
    gap: 50px 0;
  }
  .founders h2,
  .contact h2 {
    font-size: 2.4em;
    padding: 15px;
  }
  .founders h2::before,
  .contact h2::before {
    width: 30px;
    height: 30px;
  }
  .founders h2::after,
  .contact h2::after {
    width: 30px;
    height: 30px;
  }
  .contact .content .info {
    text-align: center;
  }
  .contact .continer {
    flex-direction: column;
    align-items: center;
  }
  .contact iframe {
    width: 400px;
  }
  .contact form {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    left: 0;
  }
  .hidden {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
}
